* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;

}

button {
  color: white;
  background-color: rgb(148, 31, 31);
  border: none;
  border-radius: 5px;
}

body {
  width: 80vw;
  margin: auto;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 2vh;
  margin-bottom: 4vh;
  color: white;

}

.logo img {
  width: 12vw;
  border-radius: 50%;
  margin-right: 2vw;

}

.logo {
  display: flex;
  align-items: center;

}

.menu ul li {
  display: inline-block;
  margin-right: 5vw;

}

.body {
  display: flex;
  background-color: rgb(94, 91, 91);
  padding: 2vh;
  min-height: 50vh;
  margin-bottom: 4vh;
  

}

.body .left-section {
  width: 35vw;
  padding: 2vw;
  padding-left: 3vw;

}

.left-section .images {
  background-color: #999ea1;
  padding: 1vh;
  margin-top: 5px;
  width: 22vw;
  border-radius: 20px;

}

.cats, .dogs {
  text-align: center;

}

.images .slide {
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 52vh;
  overflow-y: scroll;
}

.slide img {
  width: 15vw;
  height: 22vh;
  margin-top: 10px;
  border-radius: 10px;
}

section .bg-img {
  background-image: url("../images/catdog.jpg");
  background-size:cover;
  width: 50vw;
  height: 100vh;
  
  margin: auto;

}


.body .right {
  padding: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5vw;
  justify-content: center;
  text-align: center;
  visibility: hidden;

}

.right .card {
  background-color: #999ea1;
  padding: 10px;
  margin-bottom: 2vh;
  border-radius: 20px;

}

.form form {
  background-color: #999ea1;
  padding: 10px;
  border-radius: 20px;
  width: 25vw;

}

.form h4 {
  color: white;
  font-weight: 800;
}

form input {
  padding: 5px;
  margin-top: 2px;
  width: 10vw;
  border: 1px solid #999ea1;
}

.image-slide {
  background-color: rgb(247, 196, 196);
  display: flex;
  width: 26vw;
  overflow-x: scroll;

}

.body .right img {
  /* width: 50vw; */
  height: 20vh;
  margin-right: 10px;
  /* border: 1px solid red; */

}

.right h4 {
  padding: 1vh;
  font-weight: 500;

}

.right .pet-details li {
  list-style: none;
  font-size: 12px;
  padding: 2px;

}

.pet-details span, .card h4 span {
  font-weight: 600;

}

.right .card .p {
  display: flex;
  justify-content: space-between;
  font-size: small;
  color: rgb(180, 33, 33);
  font-weight: 700;
  padding: 1vh;

}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

.input .thumbs {
  display: flex;

}

.input i {
  padding-right: 10px;
}

.input input {
  width: 4vw;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(184, 181, 181);

}

#heart {
  font-size: 40px;

}

.input a {
  text-decoration: none;
  color: #a39a9a;
}

.card button {
  padding: 7px;
  margin-top: 10px;

}

.input button, form button {
  padding: 5px;
  margin-right: 1vw;
  margin-top: 5px;
  
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 2vh;

}

footer .creator {
  font-size: 13px;
  padding: 3px;

}

footer .socials ul li {
  font-size: 15px;
  list-style: none;
  padding-right: 2vw;
  padding-top: 2vh;

}

